<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: green;color: white;">
        <h1>USUARIO LOGUEADO</h1>
        <h2><i>Bienvenido {{datos.nombre}}</i></h2>
        <br>
       
        <button class="btn btn-danger my-5" onclick="location.href='/logout'">LOGOUT</button>
    </div>
</div>
